Sources/Imaging/obj/
Sources/Math/obj/
Sources/MachineLearning/obj/
Sources/Fuzzy/obj/
Sources/Controls/obj/
Sources/Video.Kinect/obj/
Sources/Video.FFMPEG/x64/
Release/
Sources/Vision/obj/
Sources/x64/
Sources/Genetic/obj/
Sources/Robotics.Lego/obj/
Sources/Neuro/obj/
Sources/ipch/
Sources/Build All.opensdf
Sources/Build All.sdf
Sources/Video.Ximea/obj/
Sources/Video.DirectShow/obj/
Sources/Robotics.Surveyor/obj/
Sources/Robotics.TeRK/obj/
Sources/Video/obj/
Sources/Imaging.Formats/obj/
Sources/Video.VFW/obj/
Sources/Core/obj/
/Sources/Controls/AForge.Controls.xml
/Sources/Imaging.Formats/AForge.Imaging.Formats.xml
/Sources/Math/AForge.Math.xml
/Sources/Neuro/AForge.Neuro.xml
/Sources/Imaging/AForge.Imaging.xml
/Sources/MachineLearning/AForge.MachineLearning.xml
/Sources/Robotics.Lego/AForge.Robotics.Lego.xml
/Sources/Robotics.Surveyor/AForge.Robotics.Surveyor.xml
/Sources/Video/AForge.Video.xml
/Sources/Video.DirectShow/AForge.Video.DirectShow.xml
/Sources/Video.Kinect/AForge.Video.Kinect.xml
/Sources/Video.VFW/AForge.Video.VFW.xml
/Sources/Vision/AForge.Vision.xml
/Sources/Genetic/AForge.Genetic.xml
/Sources/Fuzzy/AForge.Fuzzy.xml
/Sources/Core/AForge.xml
